@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

*{
  box-sizing:border-box;
}
.parent {
	 background: yellow;
	 padding: 50px;
	 width: 100%;
	 transition: background 1s ease-in-out 1s, width 1s ease-in-out;
}
 .parent:hover {
	 background: red;
	 width: 50%;
}
 .parent:hover .child {
	 background: blue;
}
 .child {
	 background: black;
	 height: 300px;
	 transition: all 1s ease-in-out;
}

/* //button animate// */

button{
  border-radius: 3px;
  background: grey;
  color:white;
  font-size:1.2rem;
  transition: all .5s ease-in-out;
}
button:hover{
  background:red;
  color:black;
  font-size:36px;
  transition: all .5s ease-in-out;
}
